<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>eFato - Cadastro de usuário</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost:8080/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css">
  <script src="http://localhost:8080/js/jquery-3.3.1.slim.min.js"></script>
  <script src="http://localhost:8080/js/popper.min.js"></script>
  <script src="http://localhost:8080/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="voltar">
    <a href="#" onclick="window.history.back();" title="Voltar">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <!-- cabecalho -->
  <div class="cabecalho container text-center">
    <h4 class="tituloPrincipal">Cadastro de usuário</h4>
    <span class="subtitulo">Todos os campos são obrigatórios</span>
  </div>
  <div class="formulario container text-center">
    <form class="form-signin" action="./cadastro/finalizar" method="POST">
      <!-- dados para cadastro -->
      <input type="text" name="nome" class="offset-md-4 col-md-4 mb-2 form-control" placeholder="seu nome" required autofocus>
      <input type="text" name="login" id="login" class="offset-md-4 col-md-4 mb-2 form-control loginUnico" placeholder="login" required>
      <input type="password" name="senha" id="senha" class="offset-md-4 col-md-4 mb-2 form-control" placeholder="sua senha" required>
      <input type="email" name="email" class="offset-md-4 col-md-4 mb-2 form-control" placeholder="e-mail" required>
      <!-- dados para cadastro -->

      <!-- tipo de usuario -->
      <label class="label-radio">Eu sou: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input tipo" type="radio" name="tipo" id="radio1" value="A" checked>
        <label class="form-check-label" for="radio1">Aluno</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input tipo" type="radio" name="tipo" id="radio2" value="P">
        <label class="form-check-label" for="radio2">Professor</label>
      </div>
      <!-- fim tipo de usuario -->

      <div class="form-group">
        <label id="labelCurso" for="curso">Curso</label>
        <select class="offset-md-4 col-md-4 mb-2 form-control form-control" name="curso" id="curso">
          <option th:each="curso : ${cursos}" th:value="${curso.codigo}" th:text="${curso.descricao}"></option>
        </select>
      </div>

      <button class="offset-md-4 col-md-4 mb-3 btn btn-lg btn-success btn-block" type="submit">
        cadastrar
        <i class="fas fa-check"></i>
      </button>
      <br>
      <span class="feedbackErro" th:text="${feedbackErro}" ></span>
      <span class="feedbackOk" th:text="${feedbackOk}" ></span>
      <br>
      <span th:if="${feedbackOk} == 'Cadastro realizado com sucesso!'">
          <a href="http://localhost:8080/">Fazer login</a>
      </span>
    </form>

  </div>
  <!-- rodape -->
  <div class="rodape container-fluid"></div>
</body>
  <script src="http://localhost:8080/js/val.js"></script>
  <script src="http://localhost:8080/js/jquery-3.3.1.min.js"></script>
</html>