<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>eFato - Cadastrar Aluno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://localhost:8080/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- voltar -->
    <div class="voltar">
        <a href="http://localhost:8080/voltar" title="Voltar">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    <!-- menu -->
    <div class="menu">
        <a href="http://localhost:8080/usuario/alterar" title="Alterar Dados">
            <i class="fas fa-user-alt"></i>
        </a>
    </div>

    <!-- cabecalho -->
    <div class="cabecalho container">
        <h4 class="tituloPrincipal">Minhas Turmas</h4>
    </div>

    <div class="container visualizarTurma">
        <form>
            <div class="row">
                <div class="col">
                        <div class="form-group row spaceTop">
                                    <table class="table">
                                        <thead>
                                            <th>Código</th>
                                            <th>Disciplina</th>
                                            <th>Curso</th>
                                            <th>Unidade</th>
                                            <th>Ação</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>Tecnologias Web</td>
                                                <td>Sistemas de Informação</td>
                                                <td>Barreio</td>
                                                <td><i class="fas fa-search"></i></td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>Interação Humano Computador</td>
                                                <td>Sistemas de Informação</td>
                                                <td>Barreio</td>
                                                <td><i class="fas fa-search"></i></td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>Projetos de Sistemas de Informação</td>
                                                <td>Sistemas de Informação</td>
                                                <td>Barreio</td>
                                                <td><i class="fas fa-search"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>

                        </div>
                    </div>
                    
            </div>

        </form>
    </div>

    <!-- rodape -->
    <div class="rodape container-fluid"></div>
</body>

</html>